# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List of libraries for data scientists 
* How to use Data asset eXchange
* Overview of different ML models
* How to use Github for code asset management

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow
4. NLTK

|Data Science Tools|
| --- |
|Jupyter|
| Apache Zeppelin |
| RStudio |

###Â Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
"This a simple arithmetic expression to mutiply then add integers"
(3*4)+5

17

In [14]:
"This will convert 200 minutes to hours by diving by 60"
m = 200
u = 60
m / u

3.3333333333333335

## Author
Antoine